In [1]:
import pandas as pd

In [ ]:
pip install sklearn

In [5]:
df = pd.read_csv('C:/Users/Masfufa/Desktop/data2.csv')

In [6]:
df

   takki  naan  sale
0      3     5    10
1      5     8    15
2      5    10    20
3      7    10    25
4     10    15    30
5     20    15    35

In [25]:
x = df[['takki','naan']]
y = df['sale']

In [39]:
x

   takki  naan
0      3     5
1      5     8
2      5    10
3      7    10
4     10    15
5     20    15

In [40]:
y

0    10
1    15
2    20
3    25
4    30
5    35
Name: sale, dtype: int64

In [41]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x, y)
p = reg.predict([[25, 20]])
p

C:\Users\Masfufa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([46.09561615])