# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [1]:
import pandas as pd

# demo.csv
file_path = "demo.csv"
df = pd.read_csv(file_path)
display(df.head())

# test.csv
file_path = "test1.csv"
test_df = pd.read_csv(file_path)
# display(test_df)
df.columns

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh

Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Date of Birth', 'Time of Birth', 'Age in Yrs.',
       'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining',
       'Half of Joining', 'Year of Joining', 'Month of Joining',
       'Month Name of Joining', 'Short Month', 'Day of Joining',
       'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary',
       'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City',
       'State', 'Zip', 'Region', 'User Name', 'Password'],
      dtype='object')

In [21]:
pd.to_datetime(df['Date of Birth']).min()

Timestamp('1957-08-20 00:00:00')

In [23]:
df['Date of Birth'].max()

'9/9/1982'

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str

In [117]:
def max_joinings_month(df):
    return df['Month Name of Joining'].value_counts().idxmax()
    

print("on demo.csv",max_joinings_month(df))
print("on test.csv",max_joinings_month(test_df))

on demo.csv April
on test.csv December

## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float

In [118]:
def mean_ks_salary(df):
    df1 = df[df['State']== 'KS']
    return df1['Salary'].mean()
    

print("on demo.csv",mean_ks_salary(df))
print("on test.csv",mean_ks_salary(test_df))

on demo.csv 104225.45454545454
on test.csv 121682.33333333333

## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [119]:
def max_mean_salary_region(df):
    s = df.groupby('Region')['Salary'].mean()
    return s.idxmax()

print("on demo.csv",max_mean_salary_region(df))
print("on test.csv",max_mean_salary_region(test_df))

on demo.csv Midwest
on test.csv West

## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [120]:
def min_mean_salary_region(df):
    return  (df.groupby('Region')['Salary'].mean()).idxmin()

print("on demo.csv",min_mean_salary_region(df))
print("on test.csv",min_mean_salary_region(test_df))

on demo.csv West
on test.csv Midwest

## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str

In [121]:
def max_mean_weight_city(df):
    return (df.groupby('City')['Weight in Kgs.'].mean()).idxmax()

print("on demo.csv",max_mean_weight_city(df))
print("on test.csv",max_mean_weight_city(test_df))

on demo.csv Conroe
on test.csv Conroe

## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float

In [122]:
def dr_prof_mean_salary_diff(df):
        d = df[df['Name Prefix'].str.contains
        p = df[df['Name Prefix']== 'prof.']
        p_mean = p['Salary'].mean()
        
        return (d_mean - p_mean)

print("on demo.csv",dr_prof_mean_salary_diff(df))
print("on test.csv",dr_prof_mean_salary_diff(test_df))

on demo.csv nan
on test.csv nan

## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int

In [25]:
def females_with_yahoo(df):
    s = df[df['Gender'] == 'F']
    return len(s[s['E Mail'].str.contains('@yahoo')])

#     female_df = df[df["Gender"]=="F"]
#     return len(female_df[female_df["E Mail"].str.contains("@yahoo")])


print("on demo.csv",females_with_yahoo(df))
print("on test.csv",females_with_yahoo(test_df))

on demo.csv 69
on test.csv 161

## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int

In [31]:
def doctors_with_gmail(df):
        s = df[df['Name Prefix'].str.contains('Dr')]
        return len(s[s['E Mail'].str.contains('@gmail')])


print("on demo.csv",doctors_with_gmail(df))
print("on test.csv",doctors_with_gmail(test_df))

on demo.csv 42
on test.csv 15

## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [129]:
def youngest_male_password(df):
    male_df = df[df["Gender"]=="M"]
    return male_df["Password"][pd.to_datetime(male_df["Date of Birth"]+" "+male_df["Time of Birth"]).idxmax()]

print("on demo.csv",youngest_male_password(df))
print("on test.csv",youngest_male_password(test_df))

on demo.csv xPr\aGPTQ#v
on test.csv vaU:{zwqX;/vw

In [2]:
male_df = df[df["Gender"]=="M"]
# pd.to_datetime(male_df["Date of Birth"])

In [9]:
male_df['Password'][pd.to_datetime(male_df["Date of Birth"]+" "+male_df["Time of Birth"]).idxmin()]

'Up\\n[eaybw0k:f'